/*rule/////////////////////////////////////////////////////////////////*/

/*
body{
}
body>*{
    position:absolute;
}
body:first-child{
    z-index: 5;
}
body:nth-child(2){
top:calc(5vh + 1em);
}
body>*>*{
    position: relative;
}
*/

		* {
			margin: 0;
			padding: 0;
		}

		body {
            overflow: hidden;
		}


		html,
		body,
		.fullH {
			height: 100%;
		}
        

		html,
		body,
		.fullW {
			width: 100%;
		}

		.cV,
		.cH {
			display: flex;
		}

		.cV {
			flex-direction: column;
		}

		.cH {
			flex-direction: row;
		}

		.grow {
			flex-grow: 1;
		}

		#head {
			font-size: 5vh;
			vertical-align: middle;
			box-shadow: 0 -10px 15px 11px #AAA;
			margin-bottom: 0.5em;
		}

		#title,
		#prev,
		#next {
            color: #EEE;
			text-align: center;
			padding-bottom: 0.5em;
			max-height: 5vh;
		}

		#title {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		#prev,
		#next {
            color: #EEE;
			font-weight: bold;
			min-width: 1em;
			border-radius: 2em;
		}

		.left {
			left: 0;
		}

/*/rule/////////////////////////////////////////////////////////////////*/

div{
    width: 100%;
    overflow/*はみ出る*/: auto;/*はみ出た所をスクロールで表示*/
}

body{
    width: 100%;
    height: 100%;
	background: #EEE;
	font-family: 'Yu Gothic';
}

.side{
	left: 0%;
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0px;
	background: #85a5dd;
	opacity: 1;
	color: #000;
	box-shadow: 0 -5px 7px 5px #AAA;
}

.side_word{
	color: #000;
	border-left: 8px solid #003ea3;
  	border-bottom: 1px solid #EEE;
}

.header {
	width: 80%;
	margin-left: auto;
}

#Header{
    background: #dbe8ff;
    color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-bottom: 0.5em;
	height: 8vh;
}

.title{
	color: #000;
	font-size: 36px;
}

a {
	text-decoration: none;
	color: #3a419e;
}

#ask {
	left: 0;
	width: 180px;
}
table{
	table-layout: fixed;
	width: 800px;
}

.scroll{
    border: 10px;
    padding: 0;
    width: 78%;
	height: 100%;
	margin-left: auto;
    overflow: scroll;
}

.item {
	width: 50%;
}

.menu,
.btn1,
.btn2{
    display:inline-block;
}

.btn1{
    width: 160px;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    color: rgba(50, 0, 150, .8);
    padding: 10px;
    background: #EEE;
}

.btn1:hover{
    border: solid #EEE;
    color: #EEE;
    background-color: rgba(0, 0, 0, .5)
}

.btn2{
    width: 160px;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    color: rgba(50, 0, 150, .8);
    padding: 10px;
    background: #EEE;
}

.btn2:hover{
    border: solid #EEE;
    color: #EEE;
    background-color: rgba(0, 0, 0, .5)
}

.circle {
	display:inline-block;
	border: solid 1px #EEE;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	transition: 250ms
}

#circlesc{ background-image: url(chat.png);}
#circles{ background-image: url(matrix.jpg);}
#circles2{ background-image: url(light.jpg)}
#circlem{ background: rgb(243, 200, 108);}

.exp_box{
	margin: auto 0;
	width: 35%;
	height: 15%;
}

.exp_title{
	display: inline;
	font-size: 40px;
	transition: 250ms;
	text-align: left;
}

.exp{
	font-size: 10px;
	transition: 250ms;
	text-align: left;
}

.exp_box:hover>.circle{
	width: 10px;
	height: 10px;
}

.exp_box:hover>.exp_title {
	font-size: 10px !important;
}

.exp_box:hover>.exp{
	font-size: 40px;
}

p{
    font-size: 40px; 
    text-align: center;
}

div.hidden_show,
div.hidden_box{
	margin: 10px auto;
}

.boxmenu {
	width: 80%;
	height: 10em;
	margin: auto;/*上下、左右*/
	border: 2px solid #427c4a;
	background-color: #d3ffe4;
	opacity: .8;
}

.label1 {
	position: absolute;
}

.used::before{
	content: "New!";
	color: #ff4444;
}

label:checked::after{
	content: "checked!";
	color: #bb00ff;
}

#label1:checked + .used{
	color: #bb00ff;
}

a {
	color: #444;
}

#title {
	font-size: 18px;
	text-decoration: underline;
	color: #244;
}

.info{
	font-size: 16px;
	color: #444;
}

.info::before{
	content: ">";
	font-size: left;
}

.point{
	width: 9em;
	height: 12em;
	background: url(こちら～.png);
}

#footer{
	box-shadow: 0 6px 15px 11px #AAA;/*影境界線*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rgba(150, 0, 50, .4);
    transition: .6s;
}

#source{
    bottom: 0;
    font-size: 10px;
}

/*hidden message*/
.hidden_box {
	margin: 2em 0;
	padding: 0;
}

.hidden_box label {
	padding: 15px;
	font-weight: bold;
}

/*
.hidden_box label:hover {
	background: #EEE;
}*/

.hidden_box .hidden_show {
	height: 0;
	padding: 0;
	overflow: hidden;/*↑box,show 後ろを隠す*/
	opacity: 0;
	transition: 0.8s;
}

#label1:checked ~ .hidden_show {
	padding: 10px 0;
	height: auto;
	opacity: 1;
	overflow: visible;
	background: linear-gradient(#EEE,#CCC); 
}


/*////////////////////////////////////////////////////////////////////////////////////////////////*/
#Askjump {
	right: 0;
	font-size: 20px;
	color: #ff4444;
}
#askmain {
	background: #EEE;	
}

/*ハンバーガー*/
.ndc {
	text-decoration-style: none;
	font-size: 26px;
}

#ham-menu {
    background-color: #dbe7ff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -300px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 300px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-background {
    background-color: #6b9cff; /*黒背景*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#menu-icon {
	background-color: #e0d4c7; /*アイコン部分背景色*/
	opacity: 2;
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #00b2ff; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-300px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}
